.angular-google-map-container { height: 400px; }

.logoLetterM { color: white; background-color: blue; width: 45px; height: 45px; padding: 2px 0 0 7px; border-radius: 40px; display: inline-block; }

.logoLetterA { color: white; background-color: orange; width: 45px; height: 45px; padding: 2px 0 0 7px; border-radius: 40px; display: inline-block; }